---
# THIS IS NOT A TEMPLATE.
# This is just for linting the gha-workflows repo itself.
# We call the reusable workflow from its file path.

name: Lint

on:
  push:
    branches:
      - main

  pull_request:

# cancel any previously-started, yet still active runs of this workflow on the same branch
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

# reset permsissions to none at the workflow level
# we'll set them at the job level below
permissions: {}

jobs:
  call-super-linter:
    name: Call Super-Linter

    permissions:
      contents: read # clone the repo to lint
      statuses: write #read/write to repo custom statuses

    uses: ./.github/workflows/reusable-super-linter.yaml
    with:
      # for a sample repo, avoid picking on the Dockerfile
      extra-envs: |
        VALIDATE_TRIVY=false
        VALIDATE_DOCKERFILE_HADOLINT=false
      # For a DevOps-focused repository. Prevents some code-language linters from running
      devops-only: true

    permissions:
      contents: read # clone the repo to lint
      statuses: write #read/write to repo custom statuses

